.bg-primary {
    background-color: $primaryColor !important;
}

.bg-preHome{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/8313c355364493.5cba37a413ecc.png') ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width:100%;
}