// *{
//     border: solid black 1px;
// }

.col-center {
    float: none;
    margin: 0 auto;
}

.bx-vertical-center{
    display: flex;
    align-items: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.btni-primary{
    border-radius: 20px !important;
    background-color: #4199f9 !important;
    color: white !important;
    width: 150px;
}

.btni-secundary{
    border-radius: 20px !important;
    background-color: transparent !important;
    color: #4199f9 !important;
    width: 150px;
    border: solid #4199f9 1px !important;
}